@import './style.css';

:root {
  --accent: #b946af;
  --background: #0a0f1b;
  --color: #e2e2e2;
  --border-color: rgba(255, 255, 255, .1);
}

::selection {
  color: #e2e2e2;
  text-shadow: 0 0 0.1em #e2e2e2;
  background: #b946af;
}

figure figcaption {
  text-align: center;
}

.cite {
  opacity: .5;
}
